.container {
  margin: 10px;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: rgb(51, 50, 50);
}

p {
  margin: 0;
}

body {
  margin-top: 0;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  background-color: rgb(254, 251, 251);
  color: rgb(51, 50, 50);
}

#search-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font: inherit;
  padding: 40px 120px;
  width: 100%;
  position: fixed;
  gap: 30px;
  z-index: 100;
}
.input {
  font-size: 18px;
  height: 48px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 24px;
  border-style: none;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: block;
  width: 100%;
  min-width: 150px;

  padding: 16px 18px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input:hover,
.input:focus {
  background-color: #f3f5f7;
}

button.input {
  max-width: 150px;
  padding: 10px;
  background-color: #dee1e6;
}
button.load-more {
  margin: 10px auto;
  font-size: 18px;
}
button.load-more:hover,
button.load-more:focus,
button.input:hover,
button.input:focus {
  background-color: #ffffffa5;
  transform: scale(1.03);
}
.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 120px 8px 20px;
}

.gallery-item {
  height: 100%;
}

.photo-card {
  max-width: 350px;
  height: 100%;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  transform: scale(1);
  transition: transform 0.3s;
}

.photo-card:hover {
  transform: scale(1.03);
}

.photo-img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info {
  font-size: 12px;
  color: #747676;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;

  gap: 15px;

  margin: 10px;
}

/* To-top-button */
.go-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  display: none;
  font-size: 20px;
  color: rgba(0, 51, 153, 0.5);
  border: 1px solid rgba(0, 51, 153, 0.5);
  background-color: #fff;
  padding: 15px 10px;
}

.go-top:hover {
  color: rgba(0, 51, 153, 0.8);
  border: 1px solid rgba(0, 51, 153, 0.8);
  background-color: rgba(0, 51, 153, 0.15);
}

.go-top--show {
  display: block;
}

@media only screen and (max-width: 767px) {
  #search-form {
    padding: 20px 120px;
    gap: 10px;
  }
  .gallery {
    padding: 80px 10px 20px;
  }
  .photo-card {
    width: 300px;
  }
  .input {
    width: 100%;
    font-size: 12px;
    height: 36px;
  }
  .info {
    font-size: 10px;
  }
  button.input {
    min-width: 100px;
    width: 100%;
  }
  button.load-more {
    font-size: 14px;
  }
}
